<% include ../partials/header %>

<div class="containter">
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-6">
            <div class="containter-fluid">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Notification Letter</h3>
                    </div>
                    <div class="panel-body">
                            
                        <% notifications.forEach(function(notification){ %>
                            <div>
                                <h5><strong>ID:</strong> <%=notification.notificationId%></h5>
                                <h5><strong>Create Date:</strong> <%=notification.notificationDate.toISOString().split('T')[0]%></h5>
                                <h5><strong>To:</strong> <%=notification.notificationRecipient%></h5>
                                <a href="/notifications/<%=notification._id%>" class="btn btn-primary">Click For Detail</a>
                            </div>
                        <% }); %> 

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
</div>

<% include ../partials/footer %>