<% include ../partials/header %>

<div class="contianer">
    <div class="row">
        
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>New Abuse Notification</h1>
            <form action="/" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="id" placeholder="Notification id">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="channels" placeholder="Enter IBCAP channels here"></textarea>
                </div>
                <div class="form-group">
                    <button class="form-control" type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>



<% include ../partials/footer %>