<% include ../partials/header %>

<h1>Notification Detail</h1>
    
    <h4>The Notification ID:</h4>
    <%=notification.notificationId%>
    
    <h4>The Notification is created on</h4>
    <%=notification.notificationDate%>
    
    <h4>We sent the notification to:</h4>
    <%=notification.notificationRecipient%>
    
    <a href="/notifications/<%=notification._id%>/edit" class="btn btn-info">Edit</a>

<% include ../partials/footer %>