<% include ../../partials/header %>

<div class="contianer">
    <div class="row">
        
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>New IBCAP Channel</h1>
            <form action="/channels" method="POST">
                <div class="form-group">
                    <label>Channel Name</label>
                    <input class="form-control" type="text" name="channelName" placeholder="New Channel Name">
                </div>
                <div class="form-group">
                    <form>
                        <label>Programmer</label> </br>
                        <input class="radio-inline" type="radio" name="programmer" value="Aastha">Aastha</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Al Jazeera">Al Jazeera</label>
                        <input class="radio-inline" type="radio" name="programmer" value="ARY (ARY Digital )">ARY (ARY Digital )</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Asia TV USA">Asia TV USA</label>
                        <input class="radio-inline" type="radio" name="programmer" value="ATN">ATN</label>
                        <input class="radio-inline" type="radio" name="programmer" value="B4U">B4U</label>
                        <input class="radio-inline" type="radio" name="programmer" value="beIN">beIN</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Bennett, Coleman & co">Bennett, Coleman & co</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Dream">Dream</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Future">Future</label>
                        <input class="radio-inline" type="radio" name="programmer" value="GEO">GEO</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Globosat">Globosat</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Hum Network">Hum Network</label>
                        <input class="radio-inline" type="radio" name="programmer" value="IMD">IMD</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Impress Telefilm">Impress Telefilm</label>
                        <input class="radio-inline" type="radio" name="programmer" value="MBC FZ">MBC FZ</label>
                        <input class="radio-inline" type="radio" name="programmer" value="MSM (MSM Asia)">MSM (MSM Asia)</label>
                        <input class="radio-inline" type="radio" name="programmer" value="National Communication Services">National Communication Services</label>
                        <input class="radio-inline" type="radio" name="programmer" value="NDTV">NDTV</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Reliance">Reliance</label>
                        <input class="radio-inline" type="radio" name="programmer" value="SAFE (Asia Star Broadcasting )">SAFE (Asia Star Broadcasting )</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Soundview Broadcasting">Soundview Broadcasting</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Soundview Broadcasting">Soundview Broadcasting</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Star">Star</label>
                        <input class="radio-inline" type="radio" name="programmer" value="TV Today">TV Today</label>
                        <input class="radio-inline" type="radio" name="programmer" value="TV5 USA">TV5 USA</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Ushodaya Enterprises">Ushodaya Enterprises</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Viacom">Viacom</label>
                        <input class="radio-inline" type="radio" name="programmer" value="Willow">Willow</label>
                        <input class="radio-inline" type="radio" name="programmer" value="World Span Media">World Span Media</label>
                    </form>
                </div>
                <div class="form-group">
                    <label>Logo Link</label>
                    <input class="form-control" type="text" name="logo" placeholder="Put in the URL of the logo">
                </div>
                <div class="form-group">
                    <h5>Do we have POA</h5>
                    <input class="radio-inline" type="radio" name="poa" value="true">Yes</label>
                    <input class="radio-inline" type="radio" name="poa" value="flase">No</label>
                </div>
                <div>
                    <button class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>



<% include ../../partials/footer %>
